@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  /*background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  animation: display 1s ease-in-out 0s 1 normal forwards;
  /*animation: name duration timing-function delay iteration-count direction fill-mode;*/

  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  overflow-x: hidden;
  position: relative;
}

@keyframes display {
  from {opacity: 0.5;}
  to {opacity: 1;}
}

@keyframes emerge {
  from {
      transform: translateY(5%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes scale {
  from {
      transform: scale(0.6); /* translateX(-4.5rem) translateY(1.5rem); */
      opacity: 0.4;;
  }
  to {
      transform: scale(1); /* translateX(-4.5rem) translateY(1.5rem); */
      opacity: 1;
  }
}
