.carrosel-itens > div::-webkit-scrollbar {
    display: none;
}

/*
.carrosel-itens:has(.details) > div.cursor-pointer {
    display: none;
}

.carrosel-itens > div:has(.details) {
    padding-left: 75px;
    padding-bottom: 6.4rem;
    transition: padding-bottom 0.5s ease-in-out;
}*/


