section > iframe#player { 
    width: 100%;
    height: 100%;
}

section:has(iframe#player) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section:has(div#player) {
    display: none;
}