.poster { 
    min-width: 150px;
    min-height: 225px;
}

@media screen and (min-width: 1075px) { 
    .relative > aside ~ section { 
        width: 80%;
    }
}

@media screen and (max-width: 490px) {
    .poster { 
        min-width: 104px;
        min-height: 156px;
    }
}

@media screen and (max-width: 650px) {
    .score {
        position: static;
    }
}